<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Arrendador</title>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<div>
			<a href="Arrendador/save/null" class=btn btn-primary>Agregar</a>
		</div>
		<div th:swtich="${List}">
			<h2 th:case="null">No hay Arrendadores</h2>
			<div th:case="*" >
				<h2>Arrendadores</h2>
				<table class ="table">
					<thead>
						<tr>
							<th>RUTArrendador</th>
							<th>nombre</th>
							<th>telefono</th>
							<th>correo</th>
							<th>calificacion</th>
							<th>estado</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="Arrendador : ${list}">
							<td th:text="${Arrendador.RutArrendador}">
							<td th:text="${Arrendador.nombre}">
							<td th:text="${Arrendador.telefono}">
							<td th:text="${Arrendador.correo}">
							<td th:text="${Arrendador.calificacion}">
							<td th:text="${Arrendador.estado}">
							<td><a href="@{Arrendador/save/{id}{id=${Arrendador.RUTArrendador}}}">Editar</a></td>
							<td><a href="@{Arrendador/delete/{id}{id=${Arrendador.RUTArrendador}}}">Eliminar</a></td>	
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>